<div class="container forall border border-dark">
  <center><h1>Sign up</h1></center>
  <%= form_for(@user) do |f| %>
    <div class="row signup border border-dark">
      <%= f.label :email, style: "margin-right: 36px;" %>
      <%= f.email_field :email %>
    </div>
    <div class="row signup">
      <%= f.label :username, style: "margin-right: 32px;" %>
      <%= f.text_field :username %>
    </div>
    <div class="row signup">
      <%= f.label :name, style: "margin-right: 32px;" %>
      <%= f.text_field :name %>
    </div>
    <div class="row signup">
      <%= f.label :zipcode, style: "margin-right: 32px;" %>
      <%= f.number_field :zipcode %>
    </div>
    <div class="row signup">
      <%= f.label :gender, style: "margin-right: 32px;" %>
      <%= f.select(:gender, ["Male", "Female"]) %>
    </div>
    <div class="row signup">
      <%= f.label :password, style: "margin-right: 5px;" %>
      <%= f.password_field :password %>
    </div>
    <div class="row signup">
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="row signup">
      <%= f.label :birthday, style: "margin-right: 32px;" %>
      <%= f.date_select :birthday, order: [:month, :day, :year],
                        prompt: {day: 'Select day', month: 'Select month', year: 'Select year'},
                        start_year: Date.today.year - 5, end_year: Date.today.year - 120 %></div>

    <div class="row signup">
      <%= f.check_box :Terms_of_Agreement, style: "margin-top: 5px; margin-right:5px" %>
      <%= f.label :Terms_of_Agreement, "I accept the Terms of Agreement" %>
    </div>
    <div class="row signup">
      <%= f.file_field :avatar, style: "margin-top: 5px; margin-right:5px" %>
    </div>
    <%= f.submit "Create my account", class: "btn btn-primary" %>
  <% end %>


</div>
